@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to SozialHeap, here all the geeks are friends.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Groups</h2>
        <p>This works bla bla bla...</p>
    </div>
</div>